body {
  background-color: #eb6882;
  color: #0a0408;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  background: linear-gradient(rgba(2, 0, 36, 1) 60%, rgb(87, 84, 84));
  color: antiquewhite;
}

#appTitle {
  text-align: center;
  margin: 0px auto;
  display: block;
  /* font-family: 'Staatliches', sans-serif; */
  font-size: 50px;
  color: rgb(188, 190, 192);
  color: antiquewhite;
}

#genreForm {
  text-align: center;
  margin: 0px auto;
  display: block;
  /* border: 1px solid white; */
  margin-top: 20px;
  display: flex;
  width: 50%;
  padding: 10px;
  /* justify-content:space-around; */
}

/* #playBtn{
    text-align: center;
    margin: 0px auto;
    display: block;
    border: 1px solid white;
    display: flex;
} */

#movieInfo {
  width: 65%;
  margin: 32px auto;
  border: 1px solid antiquewhite;
  border-radius: 20px;
  box-shadow: 5px 10px 18px 2px rgb(87, 84, 84);
  height: 28rem;
  padding: 20px;
}

#movieInfo:after {
  content: "";
  display: table;
  clear: both;
}

#moviePoster,
#movieText {
  width: 50%;
  float: left;
}

img#moviePoster {
  width: auto;
  height: 28rem;
  display: block;
  margin: auto;
}

#movieText {
  font-family: "Questrial";
  color: #fefbea;
  line-height: 1.25;
}

#movieTitle,
#movieOverview {
  padding: 32px;
}

#playBtn {
  text-align: center;
  margin: 0px auto;
  display: block;
  /* margin-top: 20px; */
  font-size: 25px;
  padding: 7px 10px;
  border-radius: 10px;
  background-color: transparent;
  color: antiquewhite;
  border: 1px solid white;
  width: 15%;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#playBtn:hover {
  background-color: rgb(57, 54, 54);
}

label {
  display: block;
  font-size: 25px;
  margin-bottom: 5px;
  margin-left: 100px;
  margin-right: 10px;
}

select {
  width: 400px;
  height: auto;
  border-radius: 10px;
  padding: 10px;
  font-size: 15px;
  background: transparent;
  color: antiquewhite;
  border: 1px solid antiquewhite;
}
option {
  color: black;
}

#likeOrDislikeBtns {
  text-align: center;
  margin: 0px auto;
}

#likeBtn {
  padding: 15px 25px;
  font-size: 25px;
  border-radius: 12px;
  border-style: none;
  cursor: pointer;
}

#likeBtn {
  background-color: #249e57;
  color: darkgreen;
}
#likeBtn {
  text-align: center;
  margin: 0px auto;
  display: block;
  /* margin-top: 20px; */
  font-size: 25px;
  padding: 7px 10px;
  border-radius: 10px;
  background-color: transparent;
  color: antiquewhite;
  border: 1px solid white;
  width: 15%;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#likeBtn:hover{
    background-color: rgb(78, 74, 74);
}
/* 
img{
    width: ;
} */
